root {
  --primary-orange: hsl(31, 77%, 52%);
  --primary-cyan: hsl(184, 100%, 22%);
  --primary-vdkcyan: hsl(179, 100%, 13%);
  --neutral-white-para: hsla(0, 0%, 100%, 0.75);
  --neutral-ltgray: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 2rem 2rem 2rem 2rem;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 0 0 1rem 1rem;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 80%;
  line-height: 1.6;
}
button {
  margin-top: 3rem;
  font-size: 1em;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
}
.sedans button {
  color: hsl(31, 77%, 52%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}

@media screen and (min-width: 900px) {
  .card {
    display: flex;
    width: 60%;
    max-width: 900px;
    height: auto;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sedans {
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .luxury {
    border-radius: 0 0.8rem 0.8rem 0;
  }
}
